/*************************
*******Header******
**************************/

#header {
    margin-bottom: 0;
    padding: 30px 0 60px 0;
}

#header .navbar-inverse .container {
    position: relative;
}

#header .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}


#header .navbar-brand {
    padding: 0;
    margin-left: 0;
}

#header .navbar-brand h1 {
    padding: 0;
    margin: 0;
}
#header .navbar-brand h1 img{
    width:125px;
    height: 80px;
}
#header .navbar-nav.navbar-right > li:last-child {
    margin-right: 20px;
}

#header .navbar-nav.navbar-right > li a {
    color: #000;
    font-size: 17px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
    background-color: inherit;
    border: 0;
    color: #00aeef;
}

#header .navbar-inverse .navbar-nav li a:hover {
    color: #00aeef;
}

