{% load static %}

<title>在线数据分析</title>
{% include "analyse/header.html" %}
<section id="portfolio" class="wow fadeInLeft" data-wow-duration="1000ms">
    <div class="container">
        <div class="row">
            <ul class="portfolio-filter text-center">
                <li><a class="btn active" href="#" data-filter="*">已有关键词</a></li>
                <li><a class="btn " href="#" data-filter=".computer">计算机类</a></li>
                <li><a class="btn " href="#" data-filter=".medicine">医学类</a></li>
                <li><a class="btn " href="#" data-filter=".education">教育学类</a></li>
                <li><a class="btn " href="#" data-filter=".economy">经济类</a></li>
                <li><a class="btn " href="#" data-filter=".physics">物理类</a></li>
                <li><a class="btn " href="#" data-filter=".medias">传媒类</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="portfolio-items">
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item computer">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/1.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                    <!---->
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>大数据</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medicine">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/2.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>细菌</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item education">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/3.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>软件</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item economy ">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/4.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>护理</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item physics">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/5.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>美工</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medias">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/6.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>爬虫</h2>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item computer">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/1.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                    <!---->
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>大数据</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medicine">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/2.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>细菌</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item education">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/3.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>软件</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item economy ">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/4.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>护理</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item physics">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/5.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>美工</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medias">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/6.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>爬虫</h2>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item computer">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/1.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                    <!---->
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>大数据</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medicine">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/2.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>细菌</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item education">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/3.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>软件</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item economy ">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/4.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>护理</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item physics">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/5.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>美工</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item medias">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/6.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">详情</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>爬虫</h2>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>


{% include "analyse/footer.html" %}

