{% load static %}

<title>热门分析</title>
{% include "analyse/importCSS.html" %}

{% include "analyse/header.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.common.js">
<section id="portfolio" class="wow fadeInLeft" data-wow-duration="1000ms">
    <div class="container">
        <div class="row">
            <ul class="portfolio-filter text-center">
                <li><a class="btn active" href="#" data-filter="*">用户关键词查询次数汇总排行</a></li>
                <!--<li><a class="btn " href="#" data-filter=".computer">计算机类</a></li>-->
                <!--<li><a class="btn " href="#" data-filter=".medicine">医学类</a></li>-->
                <!--<li><a class="btn " href="#" data-filter=".education">教育学类</a></li>-->
                <!--<li><a class="btn " href="#" data-filter=".economy">经济类</a></li>-->
                <!--<li><a class="btn " href="#" data-filter=".physics">物理类</a></li>-->
                <!--<li><a class="btn " href="#" data-filter=".medias">传媒类</a></li>-->
            </ul><!--/#portfolio-filter-->

            <div class="portfolio-items">
                {% for keyword in keywords%}
                <div class="col-xs-6 col-sm-4 col-md-2 portfolio-item computer">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/portfolio/1.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="">{{keyword.counts}}次</a></li>
                                    <!---->
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>{{keyword.keyword}}</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</section>


{% include "analyse/footer.html" %}
{% include "analyse/importJS.html" %}
