{% load static %}
<header>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css;' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>爬虫状态</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</header>

<body>
<div>
    <div class="container">

        {% include 'analyse/header.html' %}
        <div class="col-sm-12">
            <div class="alert alert-success" style="display: none;z-index: 10" id="spiderInfo">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>爬虫已启动</strong>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 30px;color:#686868;font-weight: 300">
            <table class="table" >
                <thead>
                <tr style="color:#686868;font-weight: 300">
                    <th>keyword</th>
                    <th>论文数量</th>
                    <th>爬虫状态</th>
                </tr>
                </thead>
                <tbody>
                <tr id="status" style="color:#686868;font-weight: 300">
                    <td>keyword</td>
                    <td>0</td>
                    <td>未启动</td>
                </tr>
                <tr id="paper" style="color:#686868;font-weight: 300">
                    <td>已经抓取的论文</td>
                    <td>0</td>
                    <td>成功</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
{#<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>#}
<script>

    var temp = null;
    var num = 0;
    var stop=0;
    var getData;
    // $('#spiderBtn').click(function () {
    //   axios.get({% url 'startSpider' %});
    $('.table tr:eq(1) td:nth-child(1)').html('{{keyWord}}');
    $('#spiderInfo').css('display', 'block');
    setTimeout(function () {
        $('#spiderInfo').fadeOut(2000)
    }, 2000);
    setTimeout('getData = setInterval(getSpiderData, 2000);',10000)
    console.log('开始获取数据');


    // });

    function getSpiderData() {

        axios.get('{% url "getSpiderData" %}?keyWord={{keyWord}}')
            .then(function (response) {
                    let count1 = getLength(response.data);
                    let count2 = getLength(temp);
                    console.log(count1, count1);
                    $('.table tr:eq(1) td:nth-child(2)').html(count1);
                    $('.table tr:eq(1) td:nth-child(3)').html('正在运行');
                    if (count1 == 0) {
                        num = 0;
                        stop++;
                        if (stop === 10) {
                                console.log('10次数据不变，现在关闭询问');

                                $('.table tr:eq(1) td:nth-child(2)').html('未抓取到数据');
                                $('.table tr:eq(1) td:nth-child(3)').html('爬虫停止').css('color', '#F56C6C');
                                clearInterval(getData);
                            }

                    } else {

                        if (count1 === count2) {
                            num++;
                            console.log('数据一致');
                            // var lastData = response.data;//.slice(0, 10);
                            // console.log('显示数据');
                            // console.log('data', lastData);
                            // for (let i in lastData) //data.data指的是数组，数组里是8个对象，i为数组的索引
                            // {
                            //     console.log(i);
                            //     console.log('显示数据');
                            //     var tr;
                            //     tr = '<td>' + lastData[i]['title'] + '</td>';
                            //     // + '<td>' + data.data[i].startTime + '</td>' + '<td>' + data.data[i].is_true + '</td>' + '<td>' + data.data[i].device + '</td>'
                            //     $(".table").append('<tr>' + tr + '</tr>')
                            //     // $('.table tr:eq(2) td:nth-child(2)').html(lastData[i]['title']);
                            // }
                            if (num === 10) {
                                console.log('10次数据不变，现在关闭询问');
                                $('.table tr:eq(1) td:nth-child(2)').html(count1);
                                $('.table tr:eq(1) td:nth-child(3)').html('爬虫停止').css('color', '#F56C6C');
                                clearInterval(getData);
                            }
                        } else {
                            console.log('数据不一致')
                            num = 0;
                            // var lastData = response.data.slice(0, 1);
                            // console.log('显示数据');
                            // console.log('data', lastData);
                            // for (let i in lastData) //data.data指的是数组，数组里是8个对象，i为数组的索引
                            // {
                            //     console.log(i);
                            //     console.log('显示数据');
                            //     var tr;
                            //     tr = '<td>' + lastData[i]['title'] + '</td>';
                            //     // + '<td>' + data.data[i].startTime + '</td>' + '<td>' + data.data[i].is_true + '</td>' + '<td>' + data.data[i].device + '</td>'
                            //     $(".table").append('<tr>' + tr + '</tr>')
                            //     // $('.table tr:eq(2) td:nth-child(2)').html(lastData[i]['title']);
                            //
                            // }

                        }
                    }
                    temp = response.data;
                    /*for(i in response.data){
                        console.log(i['title'])

                    }*/


                }
            )
            .catch(function (error) {
                console.log(error);
            });
    }

    {#getSpiderData()#}

    function getLength(object) {
        let count = 0;
        for (i in object) {
            count++;
        }
        return count;

    }

</script>
</body>