{% load static %}
<header>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title></title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>

<body>
<div>
    <div class="container">
        {% include 'analyse/header.html' %}
        <div class="col-lg-10" >
            <form class="form" role="form" action="{% url  'spider' %}" method="get">
                <div class="col-lg-10" style="padding-left: 80px; ">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" required name="keyWord" class="form-control input-lg" id="keyWord" placeholder="请输入你要爬取的关键字">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2" ;">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info btn-lg" id="spiderBtn">开启爬虫</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</div>
</body>