{% load static %}

<title>启动爬虫</title>

{% include 'analyse/header.html' %}
<section id="services">
    <div class="container">
        <div class="row">
            <form class="form" role="form" action="{% url  'spider' %}" method="get">
                <div class="col-lg-10" style="padding-left: 50px; ">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" required name="keyWord" class="form-control input-lg" id="keyWord"
                                   placeholder="请输入你要爬取的关键字">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn" id="spiderBtn">开启爬虫
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="blog" class="padding-bottom">
    <div class="container">
        <div class="row">
            <div class="timeline-blog overflow padding-top">
                <div class="timeline-date text-center">
                    <a href="#" class="btn btn-common uppercase">使用步骤</a>
                </div>
                <div class="timeline-divider overflow padding-bottom">
                    <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="single-blog timeline">
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><p>输入关键词</p></h2>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                                    iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                                    te feugait nulla facilisi. Nam liber [...]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="single-blog timeline">
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><p>等待数据爬取</a></h2>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                                    iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                                    te feugait nulla facilisi. Nam liber [...]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="single-blog timeline">
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><p>点击数据分析</a></h2>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                                    iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                                    te feugait nulla facilisi. Nam liber [...]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="single-blog timeline">
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><p>数据下载</a></h2>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                                    iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                                    te feugait nulla facilisi. Nam liber [...]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="timeline-date text-center">-->
            <!--<a href="#" class="btn btn-common">欢迎使用</a>-->
            <!--</div>-->
        </div>
    </div>
    </div>
</section>
{% include "analyse/footer.html" %}

