{% load static %}

<title>首页</title>
{% include "analyse/importCSS.html" %}
{% include "analyse/header.html" %}
<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>知网大数据</h1>
                    <p>本系统采用Django+Celery实现在线知网爬虫，并针对爬取的数据进行实时的数据分析</p>
                    <a href="#" class="btn btn-common">欢迎使用</a>
                </div>
                <img src="{% static 'img/home/analyse.png' %}" class="slider-hill" alt="slider image">
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static 'img/home/icon1.png' %}" alt="">
                    </div>
                    <h2>在线智能爬虫</h2>
                    <p>提供关键词，实时开启知网爬虫模块，自动化采集，摒弃人工采集.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="{% static 'img/home/icon2.png'%}" alt="">
                    </div>
                    <h2>实时数据分析</h2>
                    <p>依靠抓取的论文数据，实时分析论文的数据，图表清晰可见，提供分析数据的下载</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="{% static 'img/home/icon3.png' %}" alt="">
                    </div>
                    <h2>数据下载</h2>
                    <p>数据分析的结果均支持免费下载，当然也支持原始数据下载。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="action">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action count">
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="7000" data-speed="3000" data-from="0"></h1>
                        <h3>论文</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="12" data-speed="3000" data-from="0"></h1>
                        <h3>发表者</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0"></h1>
                        <h3>关键词</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0"></h1>
                        <h3>高校</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="{% static 'img/home/cnki.png' %}" class="img-responsive imgBorder" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>知网大数据</h2>
                    <P>通过智能的在线爬虫，实时抓取特定的论文信息，实时针对数据在线分析，快速了解某个领域。同时系统支持在线查找，可查找具体的作者，
                        学校，论文。实现到点的分析。</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
                     data-wow-delay="300ms">
                    <h2>可视化图表</h2>
                    <P>精准的可视化数据图表，让数据一览无余，找出数据背后的价值.提供多样式的表格数据展示，满足多种数据阅读需要,
                        支持灵活地筛选需要观察的数据</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="{% static 'img/home/chart.png' %}" class="img-responsive imgBorder" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="{% static 'img/home/btos.png' %}" class="img-responsive imgBorder" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>性能稳定的分析平台</h2>
                    <P>将数据分析和爬虫相结合，使用户可以从复杂的代码编写中解放出来，快速的抓取和分析知网数据；</P>
                </div>
            </div>
        </div>
    </div>
</section>



{% include "analyse/footer.html" %}
{% include "analyse/importJS.html" %}
